In [1]:
import pandas as pd

api_1 = pd.read_excel('primeira_api.xlsx')
api_2 = pd.read_excel('segunda_api.xlsx')
api_3 = pd.read_excel('terceira_api.xlsx')

In [2]:
api_1.drop(columns = 'Unnamed: 0', inplace = True)
api_2.drop(columns = 'Unnamed: 0', inplace = True)
api_3.drop(columns = 'Unnamed: 0', inplace = True)

In [3]:
api_1.drop_duplicates(inplace = True)
api_2.drop_duplicates(inplace = True)
api_3.drop_duplicates(inplace = True)

In [4]:
df = pd.merge(api_1, api_2, on = 'objectid')
df = pd.merge(df, api_3, on = 'objectid')
df

,objectid,name,yearpublished,sortindex,minplayers,maxplayers,minplaytime,maxplaytime,minage,label,...,numtrading,numwanting,numcomments,siteviews,numplays,numplays_month,news,blogs,weblink,podcast
0,174430,Gloomhaven,2017,1,1,4,60,120,12,Board Game,...,313,1365,5972,8933078,230213,3478,7,471,31,139
1,161936,Pandemic Legacy Season 1,2015,2,2,4,60,60,13,Board Game,...,272,771,5477,2971746,196621,1090,9,597,69,164
2,167791,Terraforming Mars,2016,3,1,5,120,120,12,Board Game,...,277,2068,7274,4724387,245997,4380,14,1158,60,148
3,182028,Through the Ages A New Story of Civilization,2015,4,2,4,120,120,14,Board Game,...,280,1049,2660,2448074,54284,511,5,185,30,42
4,224517,Brass Birmingham,2018,5,2,4,60,120,14,Board Game,...,37,1077,1702,894621,23336,815,3,124,13,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,5154,Franchise,1990,19996,2,8,90,90,0,Board Game,...,0,0,2,3569,2,0,0,0,0,0
19996,5158,Punto y Raya,1988,19997,2,2,20,20,0,Board Game,...,0,0,2,2752,0,0,0,0,0,0
19997,5159,3 Up,1972,19998,2,4,20,20,5,Board Game,...,0,0,4,8073,21,0,0,0,0,0
19998,5160,Dino-Checkers,1989,19999,2,2,30,30,6,Board Game,...,3,1,13,8601,18,0,0,0,0,0
19999,5163,Obsession,1988,20000,2,2,20,20,0,Board Game,...,1,1,4,3806,0,0,0,0,0,0

In [5]:
file_name = 'base_oficial.xlsx'
df.to_excel(file_name)