In [1]:
import http.client

conn = http.client.HTTPSConnection("treinamento-ndados.s3.sa-east-1.amazonaws.com")

headersList = {
 "Accept": "*/*",
 "User-Agent": "Thunder Client (https://www.thunderclient.com)" 
}

payload = ""

conn.request("GET", "/boardgames_information_raw.json", payload, headersList)
response = conn.getresponse()
result = response.read()

In [2]:
import pandas as pd
import json

json_file = json.loads(result)

df = pd.DataFrame()

for key in json_file.keys():

    df_variavel = pd.DataFrame()
    df_variavel[key] = list(json_file[key].values())
    df = pd.concat([df, df_variavel], axis = 1)

In [5]:
df = df.rename(columns = {'object_id': 'objectid'})
df

,objectid,name,yearpublished,sortindex,minplayers,maxplayers,minplaytime,maxplaytime,minage
0,174430,Gloomhaven,2017,1,1,4,60,120,12
1,161936,Pandemic Legacy Season 1,2015,2,2,4,60,60,13
2,167791,Terraforming Mars,2016,3,1,5,120,120,12
3,182028,Through the Ages A New Story of Civilization,2015,4,2,4,120,120,14
4,224517,Brass Birmingham,2018,5,2,4,60,120,14
...,...,...,...,...,...,...,...,...,...
20011,14765,Tuppi,1900,10470,4,4,10,10,8
20012,8134,History of War,2003,13419,2,6,60,60,14
20013,2673,Hesketh's Legacy,1999,18938,2,8,30,30,0
20014,132322,Snug as a Bug in a Rug,2012,12141,2,4,15,15,3
20015,159452,Wake up,2015,16638,1,4,30,30,10

In [6]:
file_name = 'primeira_api.xlsx'
df.to_excel(file_name)