In [28]:
import http.client

conn = http.client.HTTPSConnection("treinamento-ndados.s3.sa-east-1.amazonaws.com")

headersList = {
 "Accept": "*/*",
 "User-Agent": "Thunder Client (https://www.thunderclient.com)" 
}

payload = ""

conn.request("GET", "/boardgames_stat_raw.json", payload, headersList)
response = conn.getresponse()
result = response.read()

In [70]:
import json
import pandas as pd

json_file = json.loads(result)

df = pd.DataFrame()

for key in json_file.keys():

    df_variavel = pd.DataFrame()
    df_variavel[key] = list(json_file[key].values())
    df = pd.concat([df, df_variavel], axis = 1)

In [72]:
df.head()

,objectid,min_community,max_community,totalvotes,playerage,languagedependence,usersrated,average,baverage,stddev,...,numtrading,numwanting,numcomments,siteviews,numplays,numplays_month,news,blogs,weblink,podcast
0,174430,3.0,4.0,827.0,14,4,31254.0,8.85292,8.58424,1.59819,...,313,1365,5972,8933078,230213,3478,7,471,31,139
1,161936,4.0,4.0,549.0,12,4,34729.0,8.62499,8.47159,1.59463,...,272,771,5477,2971746,196621,1090,9,597,69,164
2,167791,3.0,4.0,1252.0,12,3,48339.0,8.42299,8.26781,1.36938,...,277,2068,7274,4724387,245997,4380,14,1158,60,148
3,182028,3.0,4.0,436.0,14,4,18269.0,8.49419,8.23513,1.49542,...,280,1049,2660,2448074,54284,511,5,185,30,42
4,224517,3.0,4.0,242.0,14,1,10070.0,8.62031,8.20459,1.22876,...,37,1077,1702,894621,23336,815,3,124,13,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20011,14765,4.0,4.0,2.0,(no votes),0,33.0,7.18788,5.53873,1.75167,...,0,2,15,8992,92,0,0,0,0,0
20012,8134,2.0,6.0,2.0,16,4,96.0,5.99240,5.51421,1.76429,...,34,4,50,43202,259,1,0,0,2,0
20013,2673,NaN,NaN,0.0,(no votes),0,1.0,6.00000,0.00000,0.00000,...,0,0,1,2559,0,0,0,2,0,0
20014,132322,2.0,4.0,1.0,2\u20136,0,42.0,6.36905,5.52454,1.32763,...,3,1,17,9524,164,1,0,0,4,0
20015,159452,NaN,4.0,10.0,10,1,174.0,5.51477,5.48152,1.97061,...,23,0,47,16908,255,0,1,0,3,2

In [73]:
file_name = 'terceira_api.xlsx'
df.to_excel(file_name)