In [8]:
import http.client

conn = http.client.HTTPSConnection("treinamento-ndados.s3.sa-east-1.amazonaws.com")

headersList = {
 "Accept": "*/*",
 "User-Agent": "Thunder Client (https://www.thunderclient.com)" 
}

payload = ""

conn.request("GET", "/boardgames_information_raw.json", payload, headersList)
response = conn.getresponse()
result = response.read().decode("utf-8")

In [12]:
import json
import pandas as pd
from pandas import json_normalize

json_file = json.loads(result)
df = json_normalize(json_file)
df

,objectid,name,yearpublished,sortindex,minplayers,maxplayers,minplaytime,maxplaytime,minage
0,174430,Gloomhaven,2017,1,1,4,60,120,12
1,161936,Pandemic Legacy Season 1,2015,2,2,4,60,60,13
2,167791,Terraforming Mars,2016,3,1,5,120,120,12
3,182028,Through the Ages A New Story of Civilization,2015,4,2,4,120,120,14
4,224517,Brass Birmingham,2018,5,2,4,60,120,14
...,...,...,...,...,...,...,...,...,...
20011,255659,Ground Floor (second edition),2018,3438,1,5,90,150,12
20012,4733,I.C.B.M.,1981,19764,2,2,60,60,12
20013,14151,Quickword The Ultimate Word Game,1991,12565,2,12,60,60,10
20014,11542,Eclipse,1999,8366,2,2,15,15,8
20015,3419,Star Trek The Game,1992,18201,2,6,60,60,10

In [8]:
file_name = 'primeira_api.xlsx'
df.to_excel(file_name)