In [6]:
import http.client

conn = http.client.HTTPSConnection("treinamento-ndados.s3.sa-east-1.amazonaws.com")

headersList = {
 "Accept": "*/*",
 "User-Agent": "Thunder Client (https://www.thunderclient.com)" 
}

payload = ""

conn.request("GET", "/boardgames_information_raw.json", payload, headersList)
response = conn.getresponse()
result = response.read() aaaaa

In [7]:
import json
import pandas as pd
from pandas import json_normalize

json_file = json.loads(result)
df = json_normalize(json_file)
df.head()

   objectid                                           name  ...  maxplaytime  minage
0    174430                                     Gloomhaven  ...          120      12
1    161936                      Pandemic Legacy  Season 1  ...           60      13
2    167791                              Terraforming Mars  ...          120      12
3    182028  Through the Ages  A New Story of Civilization  ...          120      14
4    224517                              Brass  Birmingham  ...          120      14

[5 rows x 9 columns]

In [8]:
file_name = 'primeira_api.xlsx'
df.to_excel(file_name)